In [1]:
 numpy as np

In [2]:
height=[1,2,3,4,5]
weight=[10,20,30,40,50]
height=np.array(height)
weight=np.array(weight)

In [4]:
height

array([1, 2, 3, 4, 5])

In [5]:
print(type(height))

<class 'numpy.ndarray'>

In [6]:
a = np.array([[1,0,1,0,2,3], [1,3,0,1,2,0], [0,1,0,0,1,3]])
b = a[:,1:3]
print(b)

[[0 1]
 [3 0]
 [1 0]]

In [7]:
a = np.array([0, 1, 2])
b = np.array([5, 5, 5])
a + b
a + 5

array([5, 6, 7])

In [10]:
a=np.arange(10)
b=np.power(a,2)
print(b)
b.max()

[ 0  1  4  9 16 25 36 49 64 81]

81

In [11]:
import pandas as pd

In [12]:
number=range(1,100,5)
number

range(1, 100, 5)

In [13]:
pd.Series(number)

0      1
1      6
2     11
3     16
4     21
5     26
6     31
7     36
8     41
9     46
10    51
11    56
12    61
13    66
14    71
15    76
16    81
17    86
18    91
19    96
dtype: int64

In [15]:
data={"Name" : ["Abhay","Shubhangi","Shubhay"],
     "Dept": ["Computer","Electronics","Data Science"],
    "Roll Number" : [1,2,3]}

df=pd.DataFrame(data)
print(df)

        Name          Dept  Roll Number
0      Abhay      Computer            1
1  Shubhangi   Electronics            2
2    Shubhay  Data Science            3

In [4]:
subject=pd.Series(['Engilsh','Maths','science'])
marks=pd.Series([50,70,55])
CGPA=pd.Series([2.5,3.5,2.7])
pd.DataFrame([subject,marks,CGPA], index=['Subject','Marks','CGPA']).T

NameError: name 'pd' is not defined

In [8]:
import pandas as pd

In [12]:
data={"Name" : ["Abhay","Shubhangi","Shubhay"],
     "Dept": ["Computer","Electronics","Data Science"],
    "Roll Number" : [1,2,3]}
df=pd.DataFrame(data)
print(df)

        Name          Dept  Roll Number
0      Abhay      Computer            1
1  Shubhangi   Electronics            2
2    Shubhay  Data Science            3

In [14]:
df["marks"]=df["Roll Number"]*20
df

        Name          Dept  Roll Number  marks
0      Abhay      Computer            1     20
1  Shubhangi   Electronics            2     40
2    Shubhay  Data Science            3     60

In [15]:
df.shape

(3, 4)

In [20]:
df.iloc[[1,2]]

        Name          Dept  Roll Number  marks
1  Shubhangi   Electronics            2     40
2    Shubhay  Data Science            3     60